.about {
    @extend %section-padding;
}

.about__container {
    @extend %container;
    display: flex;
    gap: 30px;
}

.about__img {
    display: none;
    // display: flex;
    // gap: 30px;
}

.about__description {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about__pre-title {
    @extend %pre-title;
    display: flex;
    gap: 20px;
    align-items: center;
}

.about__title {
    @extend %title;
    font-size: 28px;
}

.about__after-title {
    @extend %after-title;
}

.about__text {
    @extend %text;
}

.about__button {
    margin-top: 15px;
    color: $dark-main-text-color;

    &:focus,
    &:hover {
        color: $light-main-color;
    }
}