.about {
    @extend %section-padding;
}

.about__container {
    @extend %container;
    display: flex;
    gap: 30px;
}

.about__img {
    display: none;
    @media screen and (min-width: $tablet) {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    
        @media screen and (min-width: $desktop) {
            flex-direction: row;
            flex-basis: calc((100% - 30px)/2);
        }
}

.about__description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (min-width:$tablet) {
            width: 330px;
        }
    
        @media screen and (min-width: $desktop) {
            flex-basis: calc((100% - 30px)/2);
            padding-right: 85px;
        }
}

.about__pre-title {
    @extend %pre-title;
    display: flex;
    gap: 20px;
    align-items: center;
}

.about__title {
    @extend %title;
    }    

.about__after-title {
    @extend %after-title;
}

.about__text {
    @extend %text;
}

.about__button {
    margin-top: 15px;
    color: $dark-main-text-color;

    &:focus,
    &:hover {
        color: $light-main-color;
    }
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                @media screen and (min-width: $tablet) {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    margin-top: auto;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                }
}