.button {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    // color: $light-main-color;
    background-color: inherit;
    font-family: inherit;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    @include border($accent-color);
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 250ms $timing-function;

    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}