.hero {
	position: relative;
	max-width: 480px;
	min-height: 580px;
	display: flex;
	justify-content: center;
	align-items: center;
		margin: 0 auto;
	background-image:
		linear-gradient(to right,
			$hero-gradient-color,
			$hero-gradient-color),
		url(../images/hero-mobile-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
	@media (min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
			background-image:
				linear-gradient(to right,
					$hero-gradient-color,
					$hero-gradient-color),
				url(../images/hero-mobile-bg@2x.jpg);
			;
		}
@media screen and (min-width:$tablet) {
	background-image: none;
}
}

.hero__container {
	@extend %container;
	display: flex;
}

.hero__social-wrapper {
	display: none;
	@media screen and (min-width: $tablet) {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			width: 90px;
			padding-bottom: 30px;
			margin-right: 20px;
	
		}
}

.hero__small-social-list {
	transform: rotate(-90deg) translateX(50%);
}

.hero__discription {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
		align-items: center;
		margin: 0 auto;
	
		@media screen and (min-width:$tablet) {
			padding: 0 20px;
			width: 570px;
			min-height: 680px;
	
			background-position: right;
			background-image:
				linear-gradient(to right,
					$hero-gradient-color,
					$hero-gradient-color),
				url(../images/hero-tablet-bg.jpg);
	
			@media (min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
				background-image:
					linear-gradient(to right,
						$hero-gradient-color,
						$hero-gradient-color),
					url(../images/hero-tablet-bg@2x.jpg);
				;
			}
		}
	
		@media screen and (min-width:$desktop) {
			padding: 0 20px 0 100px;
			width: 1070px;
			min-height: 680px;
			align-items: flex-start;
	
			background-position: right;
			background-image:
				linear-gradient(to right,
					$hero-gradient-color,
					$hero-gradient-color),
				url(../images/hero-tablet-bg.jpg);
	
			@media (min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
				background-image:
					linear-gradient(to right,
						$hero-gradient-color,
						$hero-gradient-color),
					url(../images/hero-tablet-bg@2x.jpg);
				;
			}
		}
}

.hero__pre-title {
	@extend %pre-title;
	color: $light-secondary-color;

	&::before {
		background-color: $light-secondary-color;
	}
}

.hero__title {
	@extend %title;
	color: $light-main-color;
	font-size: 48px;
	@media screen and (max-width: 374px) {
			font-size: 40px;
		}

																																																																																																																																																																																																																																																																@media screen and (min-width: $desktop) {
																																																																																																																																																																																																																																																																	font-size: 72px;
																																																																																																																																																																																																																																																																}
}

.hero__text {
	font-size: 16px;
	line-height: 1.6;
	max-width: 336px;
	color: $light-secondary-color;
	@media screen and (min-width: $desktop) {
			font-size: 18px;
			max-width: 360px;
		}
}