.page-hero {
	position: relative;
	max-width: 480px;
	min-height: 580px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image:
		linear-gradient(to right,
			$hero-gradient-color,
			$hero-gradient-color),
		url(../images/hero-mobile-bg.jpg);
	background-size: 480px;
	background-position: center;
	background-repeat: no-repeat;

}

.hero-container {
	@extend %container;
}

.hero-social-wrapper {
	display: none;
	// display: flex;
	// flex-direction: column;
	// justify-content: space-between;
	// min-width: 100px;
}

.hero {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.hero__pre-title {
	@extend %pre-title;
	color: $light-secondary-color;

	&::before {
		background-color: $light-secondary-color;
	}
}

.hero__title {
	@extend %title;
	color: $light-main-color;
	font-size: 48px;

}

.hero__text {
	font-size: 16px;
	line-height: 1.6;
	max-width: 336px;
	color: $light-secondary-color;
}