// Colors
$dark-main-text-color: rgba(48, 48, 48, 1);
$darc-secondary-text-color: rgba(85, 85, 85, 1);
$accent-color: rgba(255, 108, 0, 1);
$bg-color: #f7f7f7;
$light-main-color: rgba(255, 255, 255, 1);
$light-secondary-color: rgba(157, 164, 189, 1);
$hero-gradient-color: rgba(25, 28, 38, 0.2);
//  Fonts
$main-font: "Open Sans", sans-serif;
$titles-font: 'Raleway', sans-serif;
//  Other
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// 